.admin-panel {
  flex-grow: 1;
  background: $brand-lighgrey;
}

.admin-row__top {

  .greeting {
    margin: 0 $gutter;
    color: $brand-bluegrey;
  }
}

.admin-row__main {
  display: flex;
  justify-content: center;
  width: 100%;

  .options {
    display: flex;

    &-title {
      color: $brand-bluegrey;
      text-align: center;
    }
  }

  .list-icon {
    margin: $gutter;
    color: $brand-white;
    font-size: 10rem;
  }
}
