* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}

.container {
  max-width: 60rem;
  margin: auto;
}

.form {

  &-container {
    max-width: 20rem;
    margin: $gutter;

    label {
      color: $brand-bluegrey;
    }

    button {
      padding: $gutter / 4 $gutter;
      border: 0;
      background: $brand-bluegrey;
      color: $brand-lighgrey;
      font-size: 1rem;
    }
  }

  &-input {
    width: 100%;
    margin: 0;
    padding: $gutter / 2;
    border: 1px solid $brand-lighgrey;

    &:focus {
      outline: $brand-red auto 5px;
    }
  }
}
