.editable-form {
  button {
    display: none;
  }

  textarea {
    width: 100%;
    resize: none;
  }

  input {
    width: 100%;
  }
}

.form-hidden {
  border: 0;
  background: none;
  font-size: 1rem;

  &:focus {
    outline: none;
    background: $form-edit-bg;
    color: $body-txt;
  }
}
