.editable-form {
  button {
    display: none;
  }
}

.form-hidden {
  border: 0;
  background: none;
  color: inherit;
  font-size: 1rem;

  &:focus {
    outline: none;
    background: $brand-white;
  }
}
