.form {

  &-container {
    max-width: 20rem;
    margin: $gutter;

    label {
      color: $form-label;
    }

    button {
      border: 0;
      outline: none;
      background: none;
      color: $form-btn;
      font-size: $brand-icon-size;
      cursor: pointer;

      &:hover {
        color: $form-btn-hover;
      }
    }
  }

  &-input {
    width: 100%;
    margin: 0;
    padding: $gutter / 2;
    border: 1px solid $form-border;

    &:focus {
      outline: $form-glow auto 5px;
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
  }
}
