.form {

  &-container {
    max-width: 20rem;
    margin: $gutter;

    label {
      color: $brand-4;
      font-size: 1.2rem;
    }
  }

  &-input {
    width: 100%;
    padding: $gutter / 2;
    border: 1px solid $brand-2;
    background: transparent;
    color: $brand-5;
    font-size: 0.9rem;
    font-weight: 100;

    &:focus {
      outline: none;
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
  }
}

.image-uploader {
  button {
    position: relative;
    left: 50%;
    padding: $gutter / 2 $gutter;
    transform: translate(-50%);
    border-radius: $brand-border-radius;
    background: $brand-2;
    color: $brand-5;
    font-size: 0.9rem;
    font-weight: 100;
    opacity: 0.5;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.8;
    }
  }

  img {
    width: 100%;
  }
}
