.menu-option__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.menu-option {
  flex-basis: 20rem;
  flex-grow: 1;
  flex-shrink: 1;
  padding: $gutter;
}

.menu-title {
  margin-top: $gutter;
  color: $menu-title;
}

.image-title__container {
  position: relative;

  &--title {
    position: absolute;
    bottom: $gutter;
    width: 100%;
    color: $image-title;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px $image-title-shadow;

    &:focus {
      color: $image-title-edit;
      font-weight: normal;
      text-shadow: none;
    }
  }
}

.item-image__container {
  border-radius: $brand-border-radius;
  box-shadow: 2px 2px 15px $brand-box-shadow;
}

.item-image {
  width: 100%;
  height: 16rem;
  margin-bottom: -4px;
  border: 2rem solid $image-border;
  border-radius: $brand-border-radius;
  object-fit: cover;
}

.item-description {
  color: $item-description;
}

.item-step {
  color: $item-description;
}
