.menu-option__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.menu-option {
  flex-basis: 20rem;
  flex-grow: 1;
  flex-shrink: 1;
  padding: $gutter;
}

.menu-image__container {
  border-radius: $brand-border-radius;
  box-shadow: 2px 2px 15px $brand-bluegrey;
}

.menu-image {
  width: 100%;
  height: 16rem;
  margin-bottom: -4px;
  object-fit: cover;
}
