.menu-option__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.menu-option {
  flex-basis: 20rem;
  flex-grow: 1;
  flex-shrink: 1;
  padding: $gutter;
}

.menu-title {
  align-self: center;
  color: $menu-title;
}

.image-title__container {
  position: relative;

  &--title {
    position: absolute;
    bottom: $gutter;
    width: 100%;
    color: $brand-white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px $menu-title-shadow;

    &:focus {
      color: $menu-title-edit;
      font-weight: normal;
      text-shadow: none;
    }
  }
}

.menu-image__container {
  border-radius: $brand-border-radius;
  box-shadow: 2px 2px 15px $brand-box-shadow;
}

.menu-image {
  width: 100%;
  height: 16rem;
  margin-bottom: -4px;
  border: 6px solid $brand-bluegrey;
  border-radius: $brand-border-radius;
  object-fit: cover;
}

.menu-description {
  color: $body-txt;
}

.menu-step {
  color: $body-txt;
}
