nav {
  position: fixed;
  width: 100%;
  background: $nav-bar-bg;
  overflow: auto;
  z-index: 1;
}

.nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link__container {
  position: relative;
}

.nav-link {
  display: block;
  position: relative;
  padding: $gutter;
  color: $nav-btn;
  font-size: $brand-icon-size;

  &:hover {
    color: $nav-btn-hover;
  }
}

.nav-link__text {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: $nav-btn-txt;
  font-size: 0.6rem;
  text-align: center;
}

.fobie {
  display: block;
  padding: $gutter;
  color: $logo;
  font-family: $brand-font;
  font-size: 2rem;
  font-weight: 900;

  &:hover {
    color: $logo-hover;
  }
}
