nav {
  position: fixed;
  width: 100%;
  background: $brand-bluegrey;
  overflow: auto;
}

.nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link__container {
  position: relative;
}

.nav-link {
  display: block;
  position: relative;
  padding: $gutter;
  color: $brand-lighgrey;
  font-size: $brand-icon-size;
}

.nav-link__text {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: $brand-green;
  font-size: 0.6rem;
  text-align: center;
}

.fobie {
  display: block;
  padding: $gutter;
  color: $brand-green;
  font-family: $brand-font;
  font-size: 2rem;
  font-weight: 900;
}
