nav {
  position: fixed;
  width: 100%;
  background: $brand-bluegrey;
  overflow: auto;
}

.nav-row {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  display: block;
  padding: $gutter;
  color: $brand-lighgrey;
  font-size: 2rem;
}

.fobie {
  display: block;
  padding: $gutter;
  color: $brand-red;
  font-family: $brand-font;
  font-size: 2rem;
}
