.user-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0;
}

.user {
  flex-basis: 18rem;
  flex-grow: 1;
  flex-shrink: 1;
  margin: $gutter;
  padding: $gutter;
  border-radius: $brand-border-radius;
  background: $brand-6-t;

  &-text {
    color: $brand-7;
    font-weight: 600;
  }
}

.user-remove {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: $gutter;
  transition: all 0.2s ease;
  color: $brand-1;
  font-size: 0.8rem;

  &__text {
    margin-right: $gutter / 2;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid $brand-4;
    }
  }
}
