.user-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0;
}

.user {
  flex-basis: 18rem;
  flex-grow: 1;
  flex-shrink: 1;
  margin: $gutter;
  padding: $gutter;
  border-radius: $brand-border-radius;
  background: $user-card-bg;

  &-text {
    color: $user-card-txt;
  }
}

.user-remove {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: $gutter;
  color: $brand-important;
  font-size: 0.6rem;

  &__text {
    margin-right: $gutter / 2;
  }
}
