
$brand-green: #3b795f;
$brand-bluegrey: #333138;
$brand-black: #000103;
$brand-lighgrey: #515052;
$brand-white: #fffffa;
$brand-yellow: #d6da47;
$brand-orange: #b55b43;



$gutter: 1rem;
$brand-trans-overlay: rgba(#000000, 0.85);
$body-txt: #35404F;
$brand-font: 'Exo 2', sans-serif;
$brand-icon-size: 2rem;
$brand-border-radius: 6px;
$brand-box-shadow: #000103;
$brand-important: #E45F56;
////////////////////////////
$nav-bar-bg: #35404F;
$nav-btn: #4AAAA5;
$nav-btn-hover: #7ACCC8;
$nav-btn-txt: $brand-white;
$logo: #E45F56;
$logo-hover: #E45F56;

// #35404F
// #4AAAA5
// #7ACCC8
// #A3D39C
// #E45F56

$form-label: #E45F56;
$form-border: #35404F;
$form-glow: #fffffa;

$main-option: #4AAAA5;
$main-option-hover: #7ACCC8;
$main-option-txt: #A3D39C;
$greeting: #4AAAA5;
$main-btn: #4AAAA5;
$main-btn-hover: #7ACCC8;

$user-card-bg: rgba(#35404f, 0.85);
$user-card-txt: #4AAAA5;

$menu-title: #A3D39C;

$image-border: rgba(#35404F, 0.85);
$image-title: #7ACCC8;
$image-title-shadow: #000103;
$image-title-edit: #35404F;
$item-description: #A3D39C;
