$gutter: 1rem;
$brand-font: 'Exo 2', sans-serif;
$brand-icon-size: 2rem;
$brand-border-radius: 6px;

$brand-trans-overlay: rgba(#000000, 0.85);
$body-txt: #35404F;
$brand-box-shadow: #000103;
$brand-important: #E45F56;
////////////////////////////
$nav-bar-bg: #35404F;
$nav-btn: #CED0CE;
$nav-btn-hover: #fffffa;
$nav-btn-txt: #fffffa;
$logo: #E45F56;
$logo-hover: #E45F56;
$greeting: #E45F56;

// $brand-1: #E45F56;
// $brand-2: #252422;
// $brand-3: #403D39;
// $brand-4: #CCC5B9;
// $brand-5: #FFFCF2;

$brand-1: #686963;
$brand-2: #3D5467;
$brand-3: #8AA29E;
$brand-4: #E45F56;
$brand-5: #F1EDEE;
$brand-6: #CCC5B9;
$brand-6-t: rgba(#ccc5b9, 0.8);

$form-label: #E45F56;
$form-border: #35404F;
$form-glow: #fffffa;
$form-step: #A3D39C;
$form-edit-bg: #fffffa;

$main-option: #fffffa;
$main-option-hover: #E45F56;
$main-option-txt: #fffffa;
$main-btn: #4AAAA5;
$main-btn-hover: #7ACCC8;

$user-card-bg: rgba(#35404f, 0.85);
$user-card-txt: #fffffa;

$menu-title: #A3D39C;

$image-border: rgba(#35404F, 0.85);
$image-title: #fffffa;
$image-title-shadow: #000103;
$image-title-edit: #35404F;
$item-description: #fffffa;
$item-description-title: #E45F56;
$item-step: #A3D39C;
$item-step-description: #fffffa;
