$gutter: 1rem;

$brand-green: #3b795f;
$brand-bluegrey: #333138;
$brand-black: #000103;
$brand-lighgrey: #515052;
$brand-white: #fffffa;
$brand-yellow: #d6da47;
$brand-orange: #b55b43;

$brand-trans-overlay: rgba(#b6b6b6, 0.5);

$brand-font: 'Exo 2', sans-serif;
$brand-icon-size: 1.4rem;
$brand-border-radius: 6px;

$nav-bar-bg: #333138;
$nav-btn: #3b795f;
$nav-btn-hover: #d6da47;
$nav-btn-txt: #3b795f;
$logo: #3b795f;
$logo-hover: #72a790;

$form-label: #333138;
$form-btn: #d6da47;
$form-btn-hover: #333138;
$form-border: #515052;
$form-glow: #3b795f;

$main-option: #333138;
$main-option-hover: #3b795f;
$main-option-txt: #333138;
$greeting: #d6da47;
$main-btn: #d6da47;
$main-btn-hover: #333138;

$brand-important: #b55b43;
