.main-content {
  flex-grow: 1;
  padding-top: 5rem;
  background: $brand-trans-overlay;
  background-size: cover;
}

.main-row__top {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  justify-content: space-between;

  .add-button {
    padding: $gutter;
    color: $main-btn;
    font-size: $brand-icon-size;
    cursor: pointer;

    &:hover {
      color: $main-btn-hover;
    }
  }
}

.main-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  .list-icon {
    margin: $gutter;
    font-size: 16rem;
  }

  .option {
    flex-basis: 20rem;
    flex-grow: 1;
    flex-shrink: 1;
    padding: $gutter;
    color: $main-option;
    text-align: center;
    cursor: pointer;

    &-title {
      color: $main-option-txt;
      text-align: center;
    }

    &:hover {
      color: $main-option-hover;
    }
  }
}

.delete-item {
  color: $brand-important;
  cursor: pointer;
}

.delete-menu {
  display: block;
  width: 100%;
  margin-top: 10rem;
  color: $brand-important;
  text-align: center;
  cursor: pointer;
}
