.main-content {
  flex-grow: 1;
  padding-top: 4.6rem;
  background: $brand-lighgrey;
}

.main-row__top {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  justify-content: space-between;

  .add-button {
    padding: $gutter;
    color: $brand-yellow;
    font-size: $brand-icon-size;
    cursor: pointer;
  }

  .greeting {
    margin: 0 $gutter;
    color: $brand-yellow;
  }
}

.main-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  .list-icon {
    margin: $gutter;
    font-size: 10rem;
  }

  .option {
    flex-basis: 20rem;
    flex-grow: 1;
    flex-shrink: 1;
    padding: $gutter;
    color: $brand-bluegrey;
    text-align: center;
    cursor: pointer;

    &-title {
      color: $brand-bluegrey;
      text-align: center;
    }

    &:hover {
      color: $brand-green;
    }
  }
}

.delete {
  display: block;
  width: calc(100% - 2rem);
  margin: 0 $gutter;
  color: $brand-orange;
  text-align: right;
}
