<nav>
  <div class="container">
    <div class="nav-row">
      {{#link-to "admin" class="nav-link"}}Home{{/link-to}}

      {{#if session.isAuthenticated}}
        {{#link-to "logout" class="nav-link"}}Logout{{/link-to}}
      {{else}}
        {{#link-to "login" class="nav-link"}}Login{{/link-to}}
      {{/if}}
    </div>
  </div>
</nav>

{{outlet}}
