<div class="main-content">
  <div class="container">
    <div class="main-row__top">
      <h4 class="greeting">
        Hello, {{session.session.content.authenticated.user.username}}
      </h4>
    </div>
      <ul class="main-row">
        <li class="option">
          {{#link-to "admin.users"}}
            {{fa-icon "users" class="list-icon"}}
            <h4 class="option-title">Users</h4>
          {{/link-to}}
        </li>
        <li class="option">
          {{#link-to "admin.menus" class="list-icon"}}{{fa-icon "glass"}}{{/link-to}}
          <h4 class="option-title">Menus</h4>
        </li>
      </ul>
  </div>
</div>
