<div class="main-content">
  <div class="container">


    {{#simple-form class="form-container" onsubmit=(action saveAllergen) as |formValues|}}
      <label>New Allergen</label>
      {{input class="form-input" placeholder="New Allergen" value=formValues.name}}

      <div class="nav-link__container">
        <button type="button" class="nav-link">{{#link-to "admin.allergens.index"}}Cancel{{/link-to}}</button>

        <button class="nav-link">Submit</button>
      </div>
    {{/simple-form}}
  </div>
</div>
