<h1>New Post</h1>
<h1>New Post</h1>
<h1>New Post</h1>

{{#simple-form onsubmit=(action saveAllergen) as |formValues|}}
  {{input placeholder="URL" value=formValues.name}}

  {{#link-to "admin.allergens.index"}}Cancel{{/link-to}}

  <button>Submit</button>
{{/simple-form}}
