<div class="main-content">
  <div class="container">
    <div class="main-row">
      {{#simple-form class="form-container" onsubmit=(action loginUser) as |formValues|}}
        <p>
          <label>Email</label>
          {{input class="form-input" type="text" name="email" placeholder="Email" maxlength="25" value=formValues.email}}
        </p>
        <p>
          <label>Password</label>
          {{input class="form-input" type="password" name="password" placeholder="Password" maxlength="25" value=formValues.password}}
        </p>
        <div class="form-buttons">
          <div class="nav-link__container">
            <span class="nav-link__text">Login</span>
            <span class="nav-link">{{fa-icon "sign-in"}}</span>
          </div>
        </div>
        <button></button>
      {{/simple-form}}
    </div>
  </div>
</div>
