<div class="admin-panel">
  <div class="container">
    <div class="admin-row__main">
      {{#simple-form class="form-container" onsubmit=(action loginUser) as |formValues|}}
        <p>
          <label>Email</label>
          {{input class="form-input" type="text" name="email" value=formValues.email}}
        </p>
        <p>
          <label>Password</label>
          {{input class="form-input" type="password" name="password" value=formValues.password}}
        </p>
        <button>{{fa-icon "sign-in"}}</button>
      {{/simple-form}}
    </div>
  </div>
</div>
